ion-navbar.toolbar.toolbar-md {
    text-align: center;
}

.toolbar-background-md {
    background: linear-gradient(to right, #ff0076, #ff3dd2 126%);
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.tabs-md .tabbar {
    background: linear-gradient(to right, #ff0076, #ff3dd2 126%);
}

.tabs-md .tab-button[aria-selected=true] {
    color: #ffffff;
    padding: 0;
}

.tabs-md .tab-button {
    color: #fff;
    padding: 0;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
    color: #fff;
}